.feature {
  @extend %section;
}

.feature__list {
  @extend %list;
  display: flex;
  line-height: 1.71;
}

.feature__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $feature-list-color;
  }
}

@include generateTechIcons($techIcons);

.feature__title {
  @extend %title;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
}
