.conteiner {
  display: block;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 15px;
}

.conteiner__title {
  @extend %title;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $secondary-text-color;
}
